@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
    font-style: italic;
}

h2 {
    font-size: 24px;
    color: lightgray;
    font-weight: lighter;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section {
    margin-bottom: 40px;
}

.main-div {
    font-family: "SUIT-Regular";
    width: 50vw;
    padding: 20px 40px;
    margin: 20px auto;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.title-div {
    text-align: right;
}

.name-text {
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

.aboutme-text {
    font-size: 16px;
    line-height: 26px;
    font-family: 'SUIT-Regular';
}

.float-wrap {
    overflow: hidden;

    font-weight: bold;
    font-size: 16px;;
}

.title-text {
    float: left;
}

.year-text {
    float: right;
}

.desc-text{
    font-size: 14px;
}

.desc-subtext {
    font-size: 12px;
    padding-left: 12px;
}

.sns-div {
    text-align: right;
}

.sns-img {
    width: 20px;
    height: 20px;
    margin: 0 2px;
}