@font-face {
    font-family: 'MinSans-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinSans-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SlowSlow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/SlowSlow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.main-div {
    width: 500px;
    height: 900px;
    margin: auto;
    padding-top: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 1px solid black;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.img-div {
    width: 400px;
    height: 400px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: #CD8D83;
}

.name-div {
    display: flex;
    flex-direction: column;

    text-align: center;
    font-family: "MinSans-Black";
}

.team-name-span {
    color: #CD8D83;    
    font-weight: bold;
    font-size: 18px;
}

.kor-name-span {
    font-weight: bolder;
    font-size: 60px;
}

.eng-name-span {
    font-weight: bolder;
    font-size: 20px;

    padding-bottom: 10px;
    border-bottom: 2px solid #CD8D83;
}

.hashtag-div {
    margin-top: 10px;
    
    font-family: "SlowSlow";
    font-size: 25px;
    color: #CD8D83;
    font-style: italic;
    text-align: center;
}

.contact-div {
    width: 100%;
    height: 140px;
    padding: 20px;
    display: flex;
    justify-content: center;
    
    background-color: #CD8D83;
    color: white;
    font-family: "MinSans-Light";
}

.contact-sub-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 0 5px;
}

.contact-img {
    width: 20px;
}

.contact-type {
    font-weight: bold;
}

.contact-info {
    color: white;
    text-decoration: none;
}

.contact-info:hover {
    color: darkred;
}